.container {
    width: 100vw; 
    height: 100vh; 
    background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/53636wide.jpg);
    background-size: cover; 
    background-position: center; 
  }